[submodule "ElvUI_NihilistzscheUI_Private"]
	path = ElvUI_NihilistzscheUI_Private
	url = git@github.com:nihilistzsche/ElvUI_NihilistzscheUI_Private
[submodule "ElvUI_NihilistzscheUI_Lulupeep"]
    path = ElvUI_NihilistzscheUI_Lulupeep
    url = git@github.com:nihilistzsche/ElvUI_NihilistzscheUI_Lulupeep
[submodule "ElvUI_NihilistzscheUI_Debug"]
	path = ElvUI_NihilistzscheUI_Debug
	url = git@github.com:nihilistzsche/ElvUI_NihilistzscheUI_Debug
