[submodule "ElvUI_NihilistzscheUI_Private"]
	path = ElvUI_NihilistzscheUI_Private
	url = git@github.com:nihilistzsche/ElvUI_NihilistzscheUI_Private
[submodule "ElvUI_NihilistzscheUI_NihilPrivate"]
	path = ElvUI_NihilistzscheUI_NihilPrivate
	url = git@github.com:nihilistzsche/ElvUI_NihilistzscheUI_NihilPrivate
